/* barlow-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/barlow-v12-latin-regular.woff2") format("woff2");
}
/* barlow-700 - latin */
@font-face {
  font-display: swap;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/barlow-v12-latin-700.woff2") format("woff2");
}
/* fraunces-900 - latin */
@font-face {
  font-display: swap;
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/fraunces-v31-latin-900.woff2") format("woff2");
}
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #fefcf7;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.container {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
  display: inline-block;
}

.site-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: #fefcf7;
}

.site-header__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 44px 0 57px 0;
}

.site-header__logo {
  max-width: 235px;
}

.site-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-header__item {
  padding-left: 33px;
}

.site-header__item:first-child {
  padding-left: 0;
}

.site-header__item:last-child {
  padding-left: 32px;
}

.site-header__item-link {
  font-family: "Barlow";
  font-weight: 400;
  line-height: 26px;
  font-size: 16px;
  color: #fefcf7;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0.923px;
  text-transform: uppercase;
  font-size: 12px;
  color: #83888f;
}
.site-header__item-link:hover {
  color: #333d4b;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.site-header__menu-icon {
  width: 30px;
  display: none;
  cursor: pointer;
}

.site-header__mobile {
  max-width: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.site-header__mobile-list {
  max-width: 77%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #fefcf7;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: 0.1s cubic-bezier(0.075, 0.82, 0.165, 1) all;
  transition: 0.1s cubic-bezier(0.075, 0.82, 0.165, 1) all;
}

.site-header__mobile-key {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.site-header__mobile-key + .site-header__mobile-list {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

@media only screen and (max-width: 768px) {
  .site-header__block {
    padding: 40px 0 53px 0;
  }
  .site-header__list {
    display: none;
  }
  .site-header__menu-icon {
    display: inline-block;
  }
}
@media only screen and (max-width: 375px) {
  .site-header__block {
    padding: 32px 0 40px 0;
  }
  .site-header__logo {
    width: 190px;
    height: 18px;
  }
  .site-header__menu-icon {
    width: 25px;
    margin-top: 7px;
  }
}
.hero {
  margin: 130px 0 123px 0;
}

.hero__block {
  background-image: url("../../images/hero-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  padding: 117px 0 116px 85px;
}

.hero__content {
  max-width: 493px;
}

.hero__content-title {
  font-family: "Fraunces";
  font-weight: 900;
  line-height: 72px;
  font-size: 72px;
  color: #fefcf7;
}

.hero__content-text {
  max-width: 393px;
  margin: 32px 0 56px 0;
  font-family: "Barlow";
  font-weight: 400;
  line-height: 26px;
  font-size: 16px;
  color: #fefcf7;
  opacity: 0.8;
}

.hero__content-link {
  font-family: "Fraunces";
  font-weight: 900;
  line-height: 25px;
  text-align: center;
  border-radius: 6px;
  padding: 15px 31px 16px 31px;
  font-size: 18px;
  background-color: #0e8784;
  color: #fefcf7;
}
.hero__content-link:hover {
  background-color: #66d2cf;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

@media only screen and (max-width: 990px) {
  .hero__block {
    background-position-x: -170px;
  }
}
@media only screen and (max-width: 810px) {
  .hero__block {
    background-position-x: -230px;
  }
}
@media only screen and (max-width: 768px) {
  .hero {
    margin: 127px 0 144px 0;
  }
  .hero__block {
    padding: 104px 0 104px 58px;
    background-image: url("../../images/hero-tablet-background.jpg");
    background-position-x: 0;
  }
  .hero__content {
    max-width: 368px;
  }
  .hero__content-title {
    line-height: 48px;
    font-size: 48px;
  }
  .hero__content-text {
    margin: 24px 0 40px 0;
    line-height: 25px;
    font-size: 15px;
  }
}
@media only screen and (max-width: 660px) {
  .hero__block {
    background-image: url("../../images/hero-background.jpg");
    background-position-x: -270px;
    padding: 104px 0 104px 30px;
  }
  .hero__content-title {
    line-height: 40px;
    font-size: 40px;
  }
}
@media only screen and (max-width: 520px) {
  .hero__block {
    background-position-x: -400px;
  }
}
@media only screen and (max-width: 426px) {
  .hero__block {
    background-position-x: -470px;
  }
}
@media only screen and (max-width: 375px) {
  .hero {
    margin: 108px 0 120px 0;
  }
  .hero__block {
    padding: 100px 0 99px 17px;
    background-image: url("../../images/hero-mobile-background.jpg");
    background-size: contain;
    background-position-x: 0;
  }
  .hero__content {
    max-width: 279px;
    text-align: center;
  }
  .hero__content-title {
    line-height: 40px;
    font-size: 40px;
  }
  .hero__content-text {
    margin: 24px 0 39px 0;
  }
}
@media only screen and (max-width: 360px) {
  .hero__block {
    padding: 80px 0 99px 7px;
  }
  .hero__content {
    max-width: 240px;
    text-align: start;
    margin: 0 auto;
  }
  .hero__content-title {
    line-height: 35px;
    font-size: 35px;
  }
}
@media only screen and (max-width: 330px) {
  .hero__block {
    padding: 60px 0 99px 7px;
  }
}
.collection {
  margin-bottom: 200px;
}

.collection__pic {
  max-width: 1111px;
  height: 196px;
  margin: 0 auto;
  background-image: url("../../images/collection-background.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.collection__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 32px 30px;
  margin-top: -70px;
}

.collection__item {
  max-width: 256px;
  text-align: center;
}

.collection__item-pic {
  max-width: 256px;
  width: 100%;
}

.collection__item-title {
  font-family: "Fraunces";
  font-weight: 900;
  line-height: 72px;
  font-size: 72px;
  color: #fefcf7;
  line-height: 32px;
  padding: 71.55px 0 24px 0;
  font-size: 24px;
  color: #333d4b;
}

.collection__item-text {
  font-family: "Barlow";
  font-weight: 400;
  line-height: 26px;
  font-size: 16px;
  color: #fefcf7;
  color: #333d4b;
}

@media only screen and (max-width: 1154px) {
  .collection__list {
    gap: 70px;
  }
}
@media only screen and (max-width: 768px) {
  .collection {
    margin-bottom: 144px;
  }
  .collection__pic {
    max-width: 689px;
    height: 118px;
  }
  .collection__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: -50px;
    row-gap: 32px;
  }
  .collection__item {
    max-width: 573px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 35px;
       -moz-column-gap: 35px;
            column-gap: 35px;
    text-align: start;
  }
  .collection__item-title {
    padding-top: 30px;
  }
  .collection__item-text {
    line-height: 25px;
    font-size: 15px;
  }
}
@media only screen and (max-width: 560px) {
  .collection {
    margin-bottom: 120px;
  }
  .collection__pic {
    max-width: 100%;
  }
  .collection__list {
    row-gap: 48px;
    margin-top: -37px;
  }
  .collection__item {
    max-width: 282px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .collection__item-pic {
    width: 200px;
  }
  .collection__item-title {
    padding-top: 24px;
    padding-bottom: 16px;
  }
}/*# sourceMappingURL=main.css.map */