.site-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: $white;
}
.site-header__block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 44px 0 57px 0;
}
.site-header__logo {
  max-width: 235px;
}
.site-header__list {
  display: flex;
  align-items: center;
}
.site-header__item {
  padding-left: 33px;
}
.site-header__item:first-child {
  padding-left: 0;
}
.site-header__item:last-child {
  padding-left: 32px;
}
.site-header__item-link {
  @include text;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0.923px;
  text-transform: uppercase;
  font-size: 12px;
  color: $light-grey;
  &:hover {
    color: $dark-blue;
    transition: 0.3s;
  }
}
.site-header__menu-icon {
  width: 30px;
  display: none;
  cursor: pointer;
}
.site-header__mobile {
  max-width: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: $blur;
  transform: translateX(-100%);
}
.site-header__mobile-list {
  max-width: 77%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: $white;
  transform: translateX(-100%);
  transition: 0.1s cubic-bezier(0.075, 0.82, 0.165, 1) all;
}
.site-header__mobile-key {
  transform: translateX(0);
}
.site-header__mobile-key + .site-header__mobile-list {
  transform: translateX(0);
}

@media only screen and (max-width: 768px) {
  .site-header__block {
    padding: 40px 0 53px 0;
  }
  .site-header__list {
    display: none;
  }
  .site-header__menu-icon {
    display: inline-block;
  }
}
@media only screen and (max-width: 375px) {
  .site-header__block {
    padding: 32px 0 40px 0;
  }
  .site-header__logo {
    width: 190px;
    height: 18px;
  }
  .site-header__menu-icon {
    width: 25px;
    margin-top: 7px;
  }
}
