.subscribe-info {
  margin-bottom: 168px;
}
.subscribe-info__block {
  padding: 100px 0 100px 85px;
  border-radius: 10px;
  background-color: $blue;
}
.subscribe-info__content {
  max-width: 790px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 67px;
}
.subscribe-info__content-icon svg {
  width: 31px;
  height: 31px;
  flex-shrink: 0;
}
.subscribe-info__content-line {
  width: 100%;
  height: 2px;
  background-color: $orange;
}
.subscribe-info__list {
  display: flex;
  column-gap: 95px;
}
.subscribe-info__item {
  max-width: 285px;
}
.subscribe-info__item-num {
  @include title;
  color: $orange;
}
.subscribe-info__item-title {
  @include title;
  line-height: 36px;
  padding: 38px 0 43px 0;
  font-size: 32px;
}
.subscribe-info__item:first-child .subscribe-info__item-title {
  max-width: 255px;
}
.subscribe-info__item-text {
  @include text;
}

@media only screen and (max-width: 1230px) {
  .subscribe-info__block {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media only screen and (max-width: 1140px) {
  .subscribe-info__list {
    gap: 70px;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
@media only screen and (max-width: 768px) {
  .subscribe-info {
    margin-bottom: 144px;
  }
  .subscribe-info__block {
    padding: 97px 40px;
  }
  .subscribe-info__content {
    max-width: 497px;
    padding-bottom: 48px;
  }
  .subscribe-info__item {
    max-width: 223px;
  }
  .subscribe-info__item-title {
    line-height: 32px;
    padding: 42px 0 39px 0;
    font-size: 28px;
  }
  .subscribe-info__item-text {
    line-height: 25px;
    font-size: 15px;
  }
}
@media only screen and (max-width: 640px) {
  .subscribe-info__content {
    display: none;
  }
}
@media only screen and (max-width: 375px) {
  .subscribe-info {
    margin-bottom: 120px;
  }
  .subscribe-info__block {
    padding: 80px 24px;
  }
  .subscribe-info__list {
    column-gap: 0;
    row-gap: 56px;
  }
  .subscribe-info__item {
    max-width: 327px;
    text-align: center;
  }
  .subscribe-info__item-title {
    padding: 24px 0;
  }
  .subscribe-info__item:first-child .subscribe-info__item-title {
    max-width: 100%;
  }
  .subscribe-info__item:nth-child(2) {
    .subscribe-info__item-title {
      font-size: 25.8px;
    }
  }
}
@media only screen and (max-width: 330px) {
  .subscribe-info__item-title {
    line-height: 30px;
    font-size: 25.8px;
  }
}
