.subscribe-hero {
  margin: 130px 0 168px 0;
}
.subscribe-hero__block {
  padding: 134px 0 134px 85px;
  border-radius: 10px;
  background-image: url("../../images/subscribe-hero-background.jpg");
  background-repeat: no-repeat;
}
.subscribe-hero__content {
  max-width: 486px;
}
.subscribe-hero__content-title {
  @include title;
  padding-bottom: 32px;
}
.subscribe-hero__content-text {
  @include text;
}
